* {
    margin: 0;
    padding: 0;
}

input, textarea, button {
    outline: none;
    resize: none;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #00cc00;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}


@font-face {
    font-family: Adobe Heiti Std R;
    src: url('../font/adobeheitistd-regular.otf'); 
}

/* 导航栏 */
#header {
    display: flex;
    justify-content: unset;
    height: 11.11vh;
    width: 100%;
    background-color: #FFFFFF;
}

.nav-header {
    position: relative;
    width: 85%;
    padding-left: 5%;
    margin: 0 auto;
}

.nav .nav-item {
    font-size: 3.33vh;
    font-family: Adobe Heiti Std R;
    font-weight: normal;
    color: rgb(66, 41, 41);
    line-height: 11.11vh;
}

.nav .nav-item:hover {
    text-decoration: none;
}

.nav-logo img {
    position: absolute;
    top: 0;
    left: 0;
    height: 11.11vh;
}

/* banner部分 */
.banner {
    width: 100%;
    height: 88.9vh;
    position: relative;
    background-color: #e4f0ba;
}

.banner point {
    display: block;
    position: absolute;
    background: rgba(121,196,113,1);
    border-radius: 500px;
    font-family: Adobe Heiti Std R;
    font-weight: normal;
    color: rgba(241,248,216,1);
    white-space: nowrap;
    text-align: center;
    z-index: 20;
}

@keyframes point {
    50% {
        box-shadow: rgba(136, 136, 136, 0.3) 0 0 0 4vh,
        rgba(204, 204, 204, 0.3) 0 0 0 8vh,
        rgba(221, 221, 221, 0.3) 0 0 13vh 13vh;
    }
    100% {
        box-shadow: rgba(136, 136, 136, 0.05) 0 0 0 4vh,
        rgba(204, 204, 204, 0.05) 0 0 0 8vh,
        rgba(221, 221, 221, 0.05) 0 0 13vh 13vh;
    }
}

.banner point:hover {
    animation: point 1.5s infinite ease;
}

.banner line {
    display: block;
    position: absolute;
    height: 1vh;
    background-color: rgba(255, 255, 255,1);
    z-index: 10;
    transform-origin: left;
}

.point-a {
    color: inherit;
    text-decoration: none;
    transition: 400ms;
}

.point-a:hover {
    text-decoration: rgba(241,248,216,1) solid 1px;
    color: inherit;
}

.point-1 {
    height: 10.69vh; 
    width: 10.69vh; 
    line-height: 10.69vh; 
    top: 10.07vh; 
    left: 22.91%; 
    font-size: 02.76vh; 
}

.point-2 { 
    height: 16.99vh; 
    width: 16.99vh; 
    line-height: 16.99vh; 
    top: 06.51vh; 
    left: 50.52%; 
    font-size: 03.35vh; 
}

.point-3 { 
    height: 16.99vh; 
    width: 16.99vh; 
    line-height: 16.99vh; 
    top: 12.05vh; 
    left: 72.91%; 
    font-size: 03.35vh; 
}

.point-4 { 
    height: 16.99vh; 
    width: 16.99vh; 
    line-height: 16.99vh; 
    top: 42.47vh; 
    left: 76.14%; 
    font-size: 03.75vh; 
}

.point-5 { 
    height: 16.99vh; 
    width: 16.99vh; 
    line-height: 16.99vh; 
    top: 64.20vh; 
    left: 47.08%; 
    font-size: 03.55vh; 
}

.point-6 { 
    height: 15.01vh; 
    width: 15.01vh; 
    line-height: 15.01vh; 
    top: 41.28vh; 
    left: 13.96%; 
    font-size: 03.35vh; 
}

.point-7 { 
    height: 26.27vh;
    width: 26.27vh; 
    line-height: 26.27vh;
    top: 30.02vh;
    left: 40.83%; 
    font-size: 05.93vh; 
}

/* 板块一：往期回顾（轮播图文） */
#PastReview {
    background-color: #eef6cf;
}

.plate {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    width: 300px;
    height: 7.5vh;
    background-color: #efb257;
    margin: 7vh 0 0 12%;
    font-size: 6vh;
    font-family: 微软雅黑;
    color: #FFF;
    line-height: 7vh;
    letter-spacing: 6px;
}

.title_num {
    font-size: 30px;
    padding: 0 2vh;
    margin-right: 25px;
    display: inline-block;
    background-color: #facd8a;
    transform: scale(1.5);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.7) 0.5px 0.5px 0.5px 0.5px;
}

#carousel {
    width: 69%;
    height: 70vh;
    margin: 5vh auto;
    border: #000 solid 1px;
    background-color: #FFF;
    line-height: 70vh;
    font-size: 6vh;
    text-align: center;
    overflow: hidden;
}

.carousel-indicators li {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
    background-size: cover;
    background-position: center;
    color: #000;
}

/* 板块三：团队介绍（名片图文） */
#TeamIntroduction {
    background-color: #f7f4a7;
}

#TeamIntroduction .content {
    width: 72%;
    max-height: 70vh;
    margin: 7vh auto;
    background-color: #ffc88f;
    border: 1px solid #000;
    border-radius: 3.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

#名片图片 {
    width: 30%;
    height: 25vh;
    background-color: #FFF;
    margin: 5vh 8vh;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
    overflow: hidden;
}

#名片图片 img {
    width: 100%;
}

#名片文字 {
    width: 46%;
    margin: 8vh 8vh 8vh 0;
    font-size: 2.4vh;
    font-family: SimHei;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
    line-height: 4.3vh;
}


/* 板块四：实践剪影（图片） */
#PracticeSilhouette {
    background-color: #f5debf;
}

#PracticeSilhouette .content {
    width: 64%;
    height: 60vh;
    margin: 7vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Silhouette {
    width: 49.2%;
    height: 100%;
    position: relative;
}

.Silhouette div {
    position: absolute;
    background-color: #FFF;
    border-radius: 1.8vh;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px 0.5px;
}

.Silhouette .photo1 {
    width: 34%;
    height: 53%;
}

.Silhouette .photo2 {
    width: 63%;
    height: 44%;
}

.Silhouette .photo-1 {
    top: 0;
    left: 0;
}

.Silhouette .photo-2 {
    top: 0;
    right: 0;
}

.Silhouette .photo-3 {
    bottom: 0;
    right: 0;
}

.Silhouette .photo-4 {
    bottom: 0;
    left: 0;
}

/* 板块五：实践新闻（图文链接） */
#PracticeNews {
    background-color: #eff0e2;
}

#PracticeNews .content {
    width: 76%;
    height: 69vh;
    margin: 7vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#carousel-news, 
#carousel-news .carousel-inner, 
#carousel-news .carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
    overflow: visible;
}

#carousel-news .carousel-inner .carousel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news {
    width: 23%;
    height: 100%;
    background-color: #FFF;
    box-shadow: rgb(0, 0, 0, 0.5) 1px 1px 2px 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.新闻图片 {
    width: 85%;
    height: 30%;
    margin: 0 auto;
    border: #000 solid 1px;
    border-radius: 10px;
}

.新闻图片 img {
    width: 100%;
}

.新闻文字 {
    width: 85%;
    max-height: 50%;
    margin: 0 auto;
    font-size: 2.4vh;
    font-family: SimHei;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
    line-height: 4.3vh;
    overflow: hidden;
}

.新闻链接 {
    width: 85%;
    max-height: 10%;
    margin: 0 auto;
    font-size: 1.6vh;
    font-family: 微软雅黑;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    overflow: hidden;
}

.新闻链接 a {
    letter-spacing: 0;
    color: #000;
    word-break: break-all;
}


/* 板块六：获奖队伍（海报图片） */
#WinningTeam {
    background-color: #c3dfc9;
}

#WinningTeam .content {
    width: 70%;
    height: 65vh;
    margin: 7vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #000 solid 1px;
    background-color: #FFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 底部信息 */
#footer {
    width: 100%;
    height: 49px;
    border-top: rgba(3,3,3,1) solid 2px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maker {
    min-width: 20%;
    text-align: center;
    word-break: keep-all;
}

.maker span {
    padding: 0 3%;
    font-size: 2vh;
    font-family: 微软雅黑;
    font-weight: 400;
    color: rgba( 1, 0, 0, 1 );
    line-height: 3.56vh;
}

.copyright {
    font-size: 2vh;
    font-family: 微软雅黑;
    font-weight: 400;
    color: rgba(136,136,136,1);
    line-height: 3.56vh;
    text-align: center;
}

/* 进入网页弹窗 */
#entry {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

.entrying {
    width: 60%;
    background: #FFF;
    margin: 20vh auto;
    padding-bottom: 10vh;
    border: #000 solid 1px;
    display: flex;
    flex-direction: column;
}

.entrying .exit {
    align-self: flex-end;
    border: #666 solid 1px;
    background-color: #FFF;
    font-size: 6vh;
    font-weight: 100;
    color: #666;
    line-height: 3vh;
    text-align: center;
    margin: 1vh 1vh 8vh 1vh;
    width: 3vh;
    height: 3vh;
    outline: none;
    cursor: pointer;
    position: relative;
}

.entrying .exit span {
    position: absolute;
    top: -0.6vh;
    left: -0.6vh;
}

.entrying p {
    font-family: 微软雅黑;
    font-size: 3vh;
    font-weight: 400;
    color: #000;
    line-height: 3vh;
    padding: 0 10%;
}

.entrying .bar {
    width: 80%;
    height: 3vh;
    border-radius: 6vh;
    margin: 0 auto;
    background-color: #31b573;
}

.entrying .track {
    width: 88%;
    height: 5vh;
    margin: 0 auto;
    position: relative;
}

.entrying .drop {
    position: absolute;
    left: 0;
    width: 9.09%;
    height: 5vh;
    background-color: rgba(0,0,0,0);
    background-image: url('../img/水滴.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 0.8vh;
    text-align: center;
    line-height: 6vh;
}

.entrying .true {
    display: inline;
    text-align: center;
    font-size: 4vh;
    font-weight: 700;
    color: #FFF;
}

/* 电脑版侧边栏7个点  */
#sidebar {
    height: 30vh;
    right: 5%;
    top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 110;
}

#sidebar .point {
    display: block;
    padding: 0.89vh;
    border-radius: 50%;
    background-color: #FFF;
}

#sidebar .active {
    background-color: rgba(205,205,205,1);
}




/* 手机端页面 */

@media (max-width: 992px) {

    /* 导航栏 */
    #header {
        height: 62px;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 190;
    }

    .icon {
        height: 30px;
        width: 30px;
        padding: 11px 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .nav-header {
        display: none;
    }

    #header .menu {
        background-image: url(../img/菜单.png);
    }

    #header .home {
        background-image: url(../img/首页.png);
    }

    .nav-logo img {
        position: unset;
        height: 62px;
    }


    /* banner部分 */
    .banner {
        height: 100%;
    }

    @keyframes point {
        50% {
            box-shadow: rgba(136, 136, 136, 0.3) 0 0 0 20px,
            rgba(204, 204, 204, 0.3) 0 0 0 40px,
            rgba(221, 221, 221, 0.3) 0 0 60px 60px;
        }
        100% {
            box-shadow: rgba(136, 136, 136, 0.05) 0 0 0 20px,
            rgba(204, 204, 204, 0.05) 0 0 0 40px,
            rgba(221, 221, 221, 0.05) 0 0 60px 60px;
        }
    }
    
    .banner line {
        height: 2px;
    }

    .point-1 {
        height: calc(10.69vh *0.5); 
        width: calc(10.69vh *0.5); 
        line-height: calc(10.69vh *0.5); 
        top: calc(10.07vh *0.5); 
        left: 22.91%; 
        font-size: calc(02.76vh *0.5); 
    }

    .point-2 { 
        height: calc(16.99vh *0.5); 
        width: calc(16.99vh *0.5); 
        line-height: calc(16.99vh *0.5); 
        top: calc(06.51vh *0.5); 
        left: 50.52%; 
        font-size: calc(03.35vh *0.5); 
    }

    .point-3 { 
        height: calc(16.99vh *0.5); 
        width: calc(16.99vh *0.5); 
        line-height: calc(16.99vh *0.5); 
        top: calc(12.05vh *0.5); 
        left: 72.91%; 
        font-size: calc(03.35vh *0.5); 
    }

    .point-4 { 
        height: calc(16.99vh *0.5); 
        width: calc(16.99vh *0.5); 
        line-height: calc(16.99vh *0.5); 
        top: calc(42.47vh *0.5); 
        left: 76.14%; 
        font-size: calc(03.75vh *0.5); 
    }

    .point-5 { 
        height: calc(16.99vh *0.5); 
        width: calc(16.99vh *0.5); 
        line-height: calc(16.99vh *0.5); 
        top: calc(64.20vh *0.5); 
        left: 47.08%; 
        font-size: calc(03.55vh *0.5); 
    }

    .point-6 { 
        height: calc(15.01vh *0.5); 
        width: calc(15.01vh *0.5); 
        line-height: calc(15.01vh *0.5); 
        top: calc(41.28vh *0.5); 
        left: 13.96%; 
        font-size: calc(03.35vh *0.5); 
    }

    .point-7 { 
        height: calc(26.27vh *0.5);
        width: calc(26.27vh *0.5); 
        line-height: calc(26.27vh *0.5);
        top: calc(30.02vh *0.5);
        left: 40.83%; 
        font-size: calc(05.93vh *0.5); 
    }

    #banner, .plate {
        height: 313px;
    }

    /* 板块一：往期回顾（轮播图文） */
    .title {
        width: fit-content;
        padding-right: 5px;
        height: 3.75vh;
        margin: 3.5vh 0 0 12%;
        font-size: 3vh;
        line-height: 3.5vh;
        letter-spacing: 2px;
    }
    
    .title_num {
        font-size: 15px;
        padding: 0 6px;
        margin-right: 10px;
    }

    #carousel {
        width: 85%;
        height: 210px;
        margin: 15px auto;
    }

    /* 板块三：团队介绍（名片图文） */
    #TeamIntroduction .content {
        width: 77%;
        margin: 25px auto;
        border-radius: 10px;
    }
    
    #名片图片 {
        width: 50%;
        height: 90px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
    }
    
    #名片文字 {
        width: 50%;
        margin: 10px;
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 15px;
    }

    /* 板块四：实践剪影（图片） */
    .Silhouette div {
        border-radius: 5px;
    }

    #PracticeSilhouette .content {
        width: 80%;
        height: 190px;
        margin: 20px auto;
    }

    /* 板块五：实践新闻（图文链接） */
    #PracticeNews .content {
        width: 80%;
        height: 200px;
        margin: 20px auto;
    }

    .新闻图片 {
        border-radius: 5px;
    }

    .新闻文字 {
        width: 90%;
        font-size: 8px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 15px;
    }

    .新闻链接 {
        font-size: 8px;
        font-weight: 100;
        letter-spacing: 0px;
    }

    /* 板块六：获奖队伍（海报图片） */
    #WinningTeam .content {
        width: 80%;
        height: 200px;
        margin: 20px auto;
    }

    #WinningTeam .content span {
        font-size: 22px!important;
        line-height: 22px!important;
    }


    /* 底部信息  */
    #footer {
        height: 66px;
    }

    .maker {
        width: 80%;
    }

    .maker span {
        font-size: 13px;
        line-height: 13px;
    }

    .copyright {
        font-size: 12px;
        line-height: 14px;
    }

    /* 进入网页弹窗 */
    .entrying {
        width: 100%;
    }

    /* 电脑版侧边栏7个点 */
    #sidebar {
        display: none;
    }
}